NODE_ENV=development
PORT=3000

AUTH_SERVICE_URL=http://localhost:3001
PROBLEMS_SERVICE_URL=http://localhost:3002
SUBMISSIONS_SERVICE_URL=http://localhost:3003
EXECUTION_SERVICE_URL=http://localhost:3004
NOTIFICATIONS_SERVICE_URL=http://localhost:3005
